/* BASE */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F8F3E1;
  color: #111827;
}

/* ROOT */
#root {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

/* NAVBAR */
nav {
  background-color: #41431B;
  color: white;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

nav h2 {
  margin: 0;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* MAIN */
.container {
  max-width: 600px;
  margin: 60px auto;
}

/* TITLE */
h1 {
  text-align: center;
  margin-bottom: 40px;
}

/* INPUT GROUP */
.input-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

/* INPUT */
input {
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #E5E7EB;
  width: 100%;
  max-width: 320px;
  background: white;
}

input:focus {
  outline: none;
  border-color: #2563EB;
}

/* BUTTON */
button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background-color: #2563EB;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  transform: translateY(-1px);
}

/* TASK TITLE */
h2 {
  margin-bottom: 15px;
}

/* TASK CARD */
.task-item {
  background-color: white;
  padding: 16px 18px;
  margin: 12px 0;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT SIDE */
.task-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* TEXT */
.task-left span {
 white-space: nowrap;
}

/* ACTIONS */
.task-actions {
  display: flex;
  gap: 10px;
}

/* EDIT BUTTON */
.task-actions button {
  background-color: #2563EB;
}

/*FILTER BUTTONS*/
.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-buttons button {
  background-color: #E5E7EB;
  color: #111827;
}

.filter-buttons button:hover {
  background-color: #2563EB;
  color: white;
}
 